---
import Layout from '../layouts/Layout.astro';
import '@fontsource/pacifico';
---

<Layout title="absk.">
    <main class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-8 sm:py-12 lg:py-16">
        <div class="max-w-3xl mx-auto text-slate-700">
            <p>Hi, I'm</p>

            <h1 class="block absk-name text-4xl font-medium mt-2 pt-1">Abhishek</h1>

            <p class="mt-4">
                I am a full stack software engineer. Software Engineer at StrongKey, Inc.
            </p>

            <p class="mt-1">
                I specialize in building highly secure applications for mobile and web.
            </p>

            <p class="mt-1">
                I've extensive experience in building applications which make use of public key
                cryptography, hardware based encryption, secure access using WebAuthn/FIDO2 using
                digital certificates, TPMs/HSMs and secure element.
            </p>

            <p class="mt-1">
                Apart from that, I have expereince in enterprise grade software integration and
                deloying including testing, decumentaiton, deployment, support issues, monitoring,
                logging, alerting, etc.
            </p>

            <p class="mt-1">
                My preferred language is Java and Swift. I have experience in JavaScript,
                TypeScript, C++ and Python too.
            </p>
        </div>

        <div class="mt-8 max-w-3xl mx-auto">
            <div class="bg-white overflow-hidden sm:rounded-lg border border-gray-200">
                <div class="px-4 py-5 sm:px-6">
                    <p class="text-lg leading-6 font-medium text-gray-900">Get in touch 🤙</p>
                    <p class="mt-1 max-w-2xl text-sm text-gray-500">
                        Message me on <a
                            href="https://twitter.com/absktoday"
                            class="text-indigo-600">Twitter</a
                        >
                        or shoot me an <a
                            href="mailto:abhisheksaral17@gmail.com"
                            class="text-indigo-600">email</a
                        >
                    </p>
                </div>
            </div>
        </div>
    </main>
</Layout>

<style>
    .absk-name {
        background-image: var(--accent-gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-position: 0%;
        font-family: 'Pacifico', sans-serif;
    }
</style>
